* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  background-color: #ffffff;
}

.container {
  max-width: 940px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  max-width: 1620px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  height: 100%;
  background-color: #fafafa;
  padding-bottom: 40px;
  overflow: hidden;
}
.wrapper:after {
  position: absolute;
  content: "";
  left: -99px;
  top: -8px;
  width: 800px;
  height: 350px;
  background-image: url("img/shape1.png");
  z-index: -1;
  background-position: bottom;
  background-size: cover;
}
.wrapper:before {
  position: absolute;
  content: "";
  bottom: 50px;
  width: 560px;
  height: 450px;
  right: -290px;
  background-image: url(img/shape2.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.menu-wrapper {
  background-color: rgba(255, 255, 255, 0.6);
}

.menu {
  display: flex;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 100px 40px 0;
}
.menu .logo {
  width: 35%;
}
.menu .logo-title {
  display: flex;
  align-items: center;
}
.menu .logo-title .logo-title_text {
  font-size: 35px;
  letter-spacing: -1px;
  color: #262626;
  margin: 0 10px 0 15px;
}
.menu .logo-title .logo-title_start {
  font-size: 15px;
  letter-spacing: -1px;
  padding: 5px;
  margin: 0 10px;
  color: #4090db;
  border: 1px solid #4090db;
}
.menu .info-page {
  display: flex;
  align-items: center;
}
.menu .info-page .info-page_item {
  font-size: 17px;
  line-height: 24px;
  color: #3d4044;
  margin: 0 15px;
}
.menu .info-page .info-page_item span {
  font-weight: bold;
}
.menu .calendar {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.content {
  background-color: #fafafa;
}

.select-type {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 25px 0;
}
.select-type .show-icon-item {
  cursor: pointer;
  margin: 0 10px;
  font-size: 24px;
}

.active {
  color: #3b8ede;
}

.photo-item {
  display: flex;
  background-color: #ffffff;
  align-items: center;
  margin: 5px 0;
}
.photo-item:nth-child(n+10) {
  display: none;
}
.photo-item.more {
  display: flex !important;
}
.photo-item .photo-item-img img {
  background-size: cover;
  width: 95px;
  height: 95px;
  background-position: center;
  background-repeat: no-repeat;
}
.photo-item .photo-item-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px 90px 20px 35px;
}
.photo-item .photo-item-info .text-title {
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  padding-bottom: 10px;
}
.photo-item .photo-item-info .social {
  display: flex;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}
.photo-item .photo-item-info .social .social-item {
  margin: 0 10px;
  display: flex;
  align-items: center;
}
.photo-item .photo-item-info .social .social-item:first-child {
  margin-left: 0;
}
.photo-item .photo-item-info .social .social-item i {
  margin: 0 5px;
}
.photo-item .photo-item-info .social .social-item i:first-child {
  margin-left: 0;
}

.photo-grid-wrap {
  display: none;
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo-item-grid {
  width: 31%;
  margin: 7px;
  position: relative;
}
.photo-item-grid img {
  width: 100%;
}
.photo-item-grid:nth-child(n+10) {
  display: none;
}
.photo-item-grid.more {
  display: flex !important;
}
.photo-item-grid .photo-item-grid_wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 99%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
.photo-item-grid .photo-item-grid_wrap .photo-item-grid_content {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 20px 0;
  padding: 0 10px;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}
.photo-item-grid .photo-item-grid_wrap .photo-item-grid_info {
  display: flex;
  margin: 20px 0;
}
.photo-item-grid .photo-item-grid_wrap .photo-item-grid_info .grid-text {
  width: 50%;
}
.photo-item-grid .photo-item-grid_wrap .photo-item-grid_info .grid-text:last-child {
  width: 100%;
  text-align: center;
}
.photo-item-grid .photo-item-grid_wrap .photo-item-grid_info:last-child {
  justify-content: center;
}
.photo-item-grid .photo-item-grid_wrap .photo-item-grid_info .grid-social {
  display: flex;
  width: 50%;
}
.photo-item-grid .photo-item-grid_wrap .photo-item-grid_info .grid-social .social-item {
  margin: 0 10px;
  display: flex;
  align-items: center;
  width: 35%;
}
.photo-item-grid .photo-item-grid_wrap .photo-item-grid_info .grid-social .social-item i {
  margin: 0 10px;
}
.photo-item-grid .photo-item-grid_wrap .photo-item-grid_info .grid-social .social-item:first-child {
  margin-left: 0;
}

.load-more1,
.load-more2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  width: 126px;
  font-size: 12px;
  line-height: 24px;
  margin: 45px auto;
  border-radius: 14px;
}

.from,
.to {
  position: relative;
  margin: 0 5px;
}

#datepicker-from,
#datepicker-to {
  position: relative;
  padding: 8px;
  outline: 0;
  border-radius: 5px;
  border: 1px solid #cbcbcb;
}

.ui-datepicker-trigger {
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ebebeb;
  color: #666666;
  height: 100%;
  border: 1px solid #cbcbcb;
  cursor: pointer;
}

.datepicker-from-close,
.datepicker-to-close {
  position: absolute;
  right: 31px;
  top: 0;
  height: 100%;
  padding: 8px 9px;
  color: #666666;
  border: 1px solid #cbcbcb;
  border-right: 0;
  cursor: pointer;
  background-color: #ebebeb;
}

.ui-widget-header {
  border: 0 !important;
  background: none !important;
}

@media (max-width: 768px) {
  .photo-item {
    flex-direction: column;
    margin: 10px 0;
    padding: 10px 0;
  }
  .photo-item .photo-item-info {
    padding: 20px 10px;
  }
  .photo-item .photo-item-img img {
    width: 280px;
    height: 280px;
    margin: 0 auto;
    display: flex;
  }

  .menu {
    display: block;
    padding: 0;
  }
  .menu .logo {
    width: 100%;
    text-align: center;
    background-color: #b2d9c8;
    padding-top: 20px;
  }
  .menu .logo-text {
    width: 100%;
    padding: 15px 0;
  }
  .menu .logo-title {
    display: block;
  }
  .menu .logo-title .logo-title_start {
    width: 128px;
  }

  .photo-item-grid {
    width: 47%;
  }

  .menu-wrapper {
    background-color: white;
  }

  .wrapper:after {
    display: none;
  }

  .wrapper:before {
    display: none;
  }
}
@media (max-width: 575px) {
  .photo-item .photo-item-info {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .photo-item .photo-item-info .photo-item-info_text {
    margin: 10px 0;
  }

  .photo-item-grid {
    width: 280px;
    margin: 7px auto;
  }

  .menu .calendar {
    flex-direction: column;
    margin: 10px;
  }
  .menu .calendar .from,
.menu .calendar .to {
    margin: 10px 0;
  }
}

/*# sourceMappingURL=style.css.map */
